*{box-sizing: border-box;margin:0;padding:0;}
.blogs{float: left;width: 100%;}
.container{max-width: 1170px;margin: 0 auto;position: relative;width: 100%;}
.item{font-size:60px;display: flex;justify-content: center;align-items: center;}
.a{height: 250px;background-color: #e2e2e2;}
.b{height: 350px;background-color: #ccc;}
.c{height: 400px;background-color: #aaa;}
.d{height: 300px;background-color: #999;}